<%= turbo_frame_tag "users_roles" do %>
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table table-striped table-sm">
        <tbody>
          <% roles.each do |role| %>
            <tr>
              <td>
                <%= link_to role.name, role_path(role), data: { turbo: false } %>
              </td>
              <td>
                <%= link_to apply_role_user_path(@user.id, role_id: role.id), data: {turbo_method: :patch} do %>
                  <div class="form-check form-switch">
                    <%= check_box_tag :allowed, :allowed, false, class: 'form-check-input', checked: @user.roles.where(id: role.id).present? %>
                  </div>
                <% end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
