<div class="alert <%= flash_class_for(msg_type) %>">
  <div class="container">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= message %>
  </div>
</div>