<%= render "shared/menu" %>
<div class="col-sm p-3 min-vh-100">
  <%= render 'shared/notices' %>
  <div class="row mb-1">
    <div class="col-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
        <h1 class="h2">New client </h1>
        <div class="btn-toolbar mb-2 mb-md-0 mx-2">
          <%= link_to "Back to clients", clients_path, class: "btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-1">
    <div class="col-12">
      <%= render "form", client: @client, readonly: false %>
    </div>
  </div>
</div>