<%= form_with(model: client_plan) do |form| %>
  <% if client_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client_plan.errors.count, "error") %> prohibited this client_plan from being saved:</h2>

      <ul>
        <% client_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
