<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Retry Number</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% error_logs.each do |error_log| %>
      <tr>
        <td><%= error_log.id %></td>
        <td><%= error_log.retry_number %></td>
        <td><%= error_log.date %></td>
        <td>
          <%= link_to client_invoice_error_log_path(client_id: @client.id, invoice_id: @invoice.id, id: error_log.id), class: "btn btn-sm btn-outline-secondary" do %>
            <i class="bi bi-eye"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>