<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
      <h1 class="h2">
        <%= title %> report
      </h1>
    </div>
  </div>
</div>